.header {
  display: flex;
  height: 30vh;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    height: 20vh;
  }

  &__title {
    padding: 2*$main-spacing;
    color: #fff;
    text-shadow: $default-shadow;
  }

  &__image {
    height: 50%;
  }
}