@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

html {
  font-size: $base-font-size;

  @include mq(xs) {
    font-size: $xs-font-size;
  }

  @include mq(md) {
    font-size: $md-font-size;
  }

  font-family: $font-family;
  color: $text-primary-color;
}

strong {
  font-weight: 700;
}

h1 {
  line-height: 5.5rem;
  font-size: 5rem;
  letter-spacing: 3px;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

input {
  font-family: $font-family;
  color: $text-primary-color;
  text-align: right;
}